.mainContainer {
    position: relative;
    width: 30vw;
    height: 80vh;
    border: 3px solid lawngreen;
    border-radius: 9px;
}

.starter {
    height: 8%;
    background: #8dec33;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom: 3px solid lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.inputContainer {
    position: absolute;
    width: 100%;
    height: 5%;
    border-top: 3px solid lawngreen;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}

.input {
    width: 90%;
    border: none;
    background: none;
    color: black;
    font-size: 15px;
}

.input:focus {
    outline: none;
}

.button {
    width: 10%;
    background: lawngreen;
    cursor: pointer;
    border-bottom-left-radius: 7px !important;
    border: none;
}

.button:active {
    transform: scale(0.98);
    outline: none;
    border: none;
}
